body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.gif\ 2.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

.form-container {
    text-align: center;
}
@media (max-width: 768px) {
    .avatar-circle {
        width: 75px;
        height: 75px;
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #117f09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d6007;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #117f09;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
